name: Continuous Integration

on:
  push:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: "14"
      - uses: subosito/flutter-action@v1
        with:
          channel: dev

      - name: setup project dependencies
        run: flutter pub get

      - name: run static analysis
        run: flutter analyze

      - name: run unit tests
        run: flutter test
